html{
	height: 100%;
	width:100%
	margin: 0;
	padding: 0;
}

a{
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

body{
	background-image: url("../image/eddard.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

#quote{
	color: black;
	display: inline-block;
	float: right;
}


@media screen and (min-width: 800px){
	body {
		background-position: 20%;
	}
	#quote {
		position: absolute;
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 1.3;
		padding-top: 500px;
	    width: 500px;
	    left: 20%;
	}

